$primary-color: #e62b4c;
$secondry-color:#58626c;
$white-color:#ffffff;
$white:#f8f8f8;
$black-color:#212739;
$gray-color: #888888;
$icon-color: #fecdd0;
 
$font:'Josefin Slab', serif;
$title-font:"Great Vibes";
$header-font:"Great Vibes, Helvetica, Arial, Lucida, sans-serif";
$paragraph-font:"Poppins,sans-serif";
$items-box-height: 35rem;
$items-box-width:35rem;