@keyframes move {
   
    0%{
        left:-21px;
        visibility: hidden;
        
    }
    40%{
        left: -10px;
        visibility: hidden;

    }
    100%{
       left:0px;
       visibility: visible;
    }
} 
@keyframes images-move{
      0%{
        transform: scale(0.5);
     }
     100%{
         transform: scale(1);
     }
}
